# Core scientific stack
numpy>=1.24,<3
pandas>=2.1,<3
scipy>=1.11,<2    # for scipy.spatial.cKDTree

# Bio structures
biopython>=1.83,<2 # PDBParser, MMCIFParser, HSExposure, etc.

# Utilities
tqdm>=4.66,<5
psutil>=5.9,<6
